[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-extensions = "*"
ipython = "*"
djangorestframework = "*"
dj-database-url = "*"
gunicorn = "*"
djoser = "*"
django-cors-headers = "*"
whitenoise = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
